# Node Modules
node_modules/

# Pasta de build/compilação
dist/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos de ambiente
.env
.env.*

# Arquivos temporários do TypeScript
*.tsbuildinfo

# Cache do editor/IDE
.vscode/
.idea/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db
